		<!--=== Footer v8 ===-->
		<div class="footer-v8">
			<footer class="footer">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<h2 class="margin-bottom-10">Subscribe to our Newsletter</h2>
							<!-- Form Group -->
							<div class="input-group">
								<input class="form-control" type="email" placeholder="Enter email">
								<div class="input-group-btn">
									<button type="button" class="btn-u">Subscribe</button>
								</div>
							</div>
							<!-- End Form Group -->
                        </div>
                        <div class="col-md-6 col-sm-12">
							<h2 class="margin-bottom-10">Social Networks</h2>
							<!-- Social Icons -->
							<ul class="social-icon-list">
								<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="rounded-x fa fa-dribbble"></i></a></li>
							</ul>
							<!-- End Social Icons -->
						</div>
					</div><!--/end row-->
				</div><!--/end container-->
			</footer>

			<footer class="copyright">
				<div class="container-fluid">
					<ul class="list-inline terms-menu">
						<li>2015 &copy; All Rights Reserved.</li>
						<li class="home"><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy and Policy</a></li>
					</ul>
				</div><!--/end container-->
			</footer>
		</div>
		<!--=== End Footer v8 ===-->

	<% include login-register.ejs %>

	</div><!--/wrapper-->

	<!--=== Style Switcher ===-->
	<i class="style-switcher-btn fa fa-cogs hidden-xs"></i>
	<div class="style-switcher animated fadeInRight">
		<div class="style-swticher-header">
			<div class="style-switcher-heading">Style Switcher</div>
			<div class="theme-close"><i class="icon-close"></i></div>
		</div>

		<div class="style-swticher-body">
			<!-- Theme Colors -->
			<div class="style-switcher-heading">Theme Colors</div>
			<ul class="list-unstyled">
				<li class="theme-default theme-active" data-style="default" data-header="light"></li>
				<li class="theme-blue" data-style="blue" data-header="light"></li>
				<li class="theme-orange" data-style="orange" data-header="light"></li>
				<li class="theme-red" data-style="red" data-header="light"></li>
				<li class="theme-light" data-style="light" data-header="light"></li>
				<li class="theme-purple last" data-style="purple" data-header="light"></li>
				<li class="theme-aqua" data-style="aqua" data-header="light"></li>
				<li class="theme-brown" data-style="brown" data-header="light"></li>
				<li class="theme-dark-blue" data-style="dark-blue" data-header="light"></li>
				<li class="theme-light-green" data-style="light-green" data-header="light"></li>
				<li class="theme-dark-red" data-style="dark-red" data-header="light"></li>
				<li class="theme-teal last" data-style="teal" data-header="light"></li>
			</ul>

			<!-- Theme Skins -->
			<div class="style-switcher-heading">Theme Skins</div>
			<div class="row no-col-space margin-bottom-20 skins-section">
				<div class="col-xs-6">
					<button data-skins="default" class="btn-u btn-u-xs btn-u-dark btn-block active-switcher-btn handle-skins-btn">Light</button>
				</div>
				<div class="col-xs-6">
					<button data-skins="dark" class="btn-u btn-u-xs btn-u-dark btn-block skins-btn">Dark</button>
				</div>
			</div>
		</div>
	</div><!--/style-switcher-->
	<!--=== End Style Switcher ===-->

	<script src="/assets/js/shared.js?app_version=<%=app_version%>" type='text/javascript'></script>


	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js?app_version=<%=app_version%>"></script>
	<script type="text/javascript" src="/assets/plugins/jquery/jquery-migrate.min.js?app_version=<%=app_version%>"></script>
	<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js?app_version=<%=app_version%>"></script>
	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="/assets/plugins/back-to-top.js?app_version=<%=app_version%>"></script>
	<script type="text/javascript" src="/assets/plugins/smoothScroll.js?app_version=<%=app_version%>"></script>
	<script type="text/javascript" src="/assets/plugins/modernizr.js?app_version=<%=app_version%>"></script>
	<script src="/assets/plugins/login-signup-modal-window/js/main.js?app_version=<%=app_version%>"></script> <!-- Gem jQuery -->
	<script src="/assets/plugins/jquery.parallax.js?app_version=<%=app_version%>"></script>
	<script src="/assets/plugins/fancybox/source/jquery.fancybox.pack.js?app_version=<%=app_version%>"></script>
	<script src="/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js?app_version=<%=app_version%>"></script>
	<!-- JS Customization -->
	<script type="text/javascript" src="/assets/js/custom.js?app_version=<%=app_version%>"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="/assets/js/app.js?app_version=<%=app_version%>"></script>
	<script src="/assets/js/plugins/fancy-box.js?app_version=<%=app_version%>"></script>
	<script src="/assets/js/plugins/owl-carousel.js?app_version=<%=app_version%>"></script>
	<script type="text/javascript" src="/assets/js/plugins/style-switcher.js?app_version=<%=app_version%>"></script>

	<%- scripts %>

	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();

			StyleSwitcher.initStyleSwitcher();
			App.initParallaxBg();
			FancyBox.initFancybox();
			OwlCarousel.initOwlCarousel({ items : 4, itemsMobile :	[479,2], itemsScaleUp : true });
		});
	</script>
	<!--[if lt IE 9]>
	<script src="/assets/plugins/respond.js?app_version=<%=app_version%>"></script>
	<script src="/assets/plugins/html5shiv.js?app_version=<%=app_version%>"></script>
	<script src="/assets/plugins/placeholder-IE-fixes.js?app_version=<%=app_version%>"></script>
	<![endif]-->
</body>
</html>
