
            </div> <!-- container-fluid -->
        </div> <!-- /#page-wrapper -->
    </div> <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js?app_version=<%=app_version%>"></script>
    <script type="text/javascript" src="/assets/plugins/jquery/jquery-migrate.min.js?app_version=<%=app_version%>"></script>
    <script type="text/javascript" src="/assets/plugins/angular/js/angular.min.js?app_version=<%=app_version%>"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js?app_version=<%=app_version%>"></script>

    <script type="text/javascript" src="/assets/admin/plugins/metisMenu/js/metisMenu.min.js?app_version=<%=app_version%>"></script>
    <script type="text/javascript" src="/assets/admin/js/admin.js?app_version=<%=app_version%>"></script>
    <script type="text/javascript" src="/assets/admin/plugins/simplemde/js/simplemde.min.js?app_version=<%=app_version%>"></script>
    <script type="text/javascript" src="/assets/admin/plugins/tagEditor/js/jquery.tag-editor.min.js?app_version=<%=app_version%>"></script>
    <script type="text/javascript" src="/assets/js/plugins/message-panel.js?app_version=<%=app_version%>"></script>
    <script type="text/javascript" src="/assets/js/plugins/spinner.js?app_version=<%=app_version%>"></script>


    <script type="text/javascript" src="/assets/js/controllers/authentication-controller.js?app_version=<%=app_version%>"></script> 

    <%- scripts %>
   
   
  </body>
</html>
