<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title></title>

    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>


    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css?app_version=<%=app_version%>">
    <link rel="stylesheet" href="/assets/plugins/normalize.min.css?app_version=<%=app_version%>">
    <link rel="stylesheet" href="/assets/plugins/animate.min.css?app_version=<%=app_version%>">
    <link rel="stylesheet" href="/assets/plugins/line-icons/line-icons.css?app_version=<%=app_version%>">
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css?app_version=<%=app_version%>">
    <link href="/assets/admin/plugins/metisMenu/css/metisMenu.min.css?app_version=<%=app_version%>" rel="stylesheet">

    <link rel="stylesheet" href="/assets/plugins/line-icons/line-icons.css?app_version=<%=app_version%>">

    <link rel="stylesheet" href="/assets/plugins/sky-forms/css/sky-forms.css?app_version=<%=app_version%>">
    <link rel="stylesheet" href="/assets/admin/plugins/sky-forms/css/custom-sky-forms.css?app_version=<%=app_version%>">
    <link rel="stylesheet" href="/assets/admin/plugins/simplemde/css/simplemde.min.css?app_version=<%=app_version%>">
    <link rel="stylesheet" href="/assets/admin/plugins/tagEditor/css/jquery.tag-editor.css?app_version=<%=app_version%>">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/admin/css/style.css?app_version=<%=app_version%>">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <%- stylesheets %>

  </head>

  <body ng-app="hms">

   <div id="wrapper">
     <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin/">SB Admin</a>
        </div>
        <!-- Top Menu Items -->

        <% if( typeof me !== 'undefined' ) { %>

        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= me.username %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li id="#logout" ng-controller="authenticationController" ng-click="logout()">
                        <a href="#"><i class="fa fa-fw fa-power-off"></i>Log Out</a>
                    </li>
                </ul> 
            </li>
        </ul>

        <% } else { %>

        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Not logged in <b class="caret"></b></a>
            </li>
        </ul>


        <% } %>

        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
              <li>
                  <a href="/admin/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
              </li>

              <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo" ><i class="fa fa-fw fa-upload"></i> Content Management <i class="fa fa-fw fa-caret-down" aria-expanded="true"></i></a>
                <ul id="demo" >
                  <li>
                    <a href="/admin/destinations/" target="_self">
                      <span class="sidebar-nav-item-icon fa fa-edit fa-fw"></span>
                      Destinations
                    </a>
                  </li>
                  <li>
                    <a href="/admin/comments/" target="_self">
                      <span class="sidebar-nav-item-icon fa fa-comment fa-fw"></span>
                      Comments
                    </a>
                  </li> 
                  <li>
                    <a href="/admin/galleries/" target="_self">
                      <span class="sidebar-nav-item-icon fa fa-photo fa-fw"></span>
                      Galleries
                    </a>
                  </li> 
                  <li>
                    <a href="/admin/medias/" target="_self">
                      <span class="sidebar-nav-item-icon fa fa-photo fa-fw"></span>
                      Medias
                    </a>
                  </li> 
                </ul>
              </li>

              <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo" ><i class="fa fa-fw fa-upload"></i> Admin <i class="fa fa-fw fa-caret-down" aria-expanded="true"></i></a>
                <ul id="demo" >
                  <li>
                    <a href="/admin/users/">
                      <span class="sidebar-nav-item-icon fa fa-user fa-fw"></span>
                      Users
                    </a>
                  </li>
                  <li>
                    <a href="/admin/organizations/">
                      <span class="sidebar-nav-item-icon fa fa-users fa-fw"></span>
                      Organizations
                    </a>
                  </li> 
                </ul>
              </li>


            </ul>
        </div><!-- /.navbar-collapse -->
  
      </nav>


      <div id="page-wrapper">
        <div class="container-fluid">